## Load required packages

In [1]:
#Import required packages

import time
import os
import pandas as pd
import nltk
from nltk.tokenize import TweetTokenizer
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.stem.snowball import SnowballStemmer
from langdetect import detect
import langdetect
import re
import emoji
import string
import numpy as np

In [2]:
#Get current working directory
cwd = os.getcwd()
cwd

'/Users/Marcel/Desktop/Master Digital Driven Business/Master Project/Data Pre-Processing'

## Load Data

In [4]:
#Load data
Cdata1 = pd.read_csv(os.getcwd() + '/Coosto Manual/Coosto_berichten.csv', 
                     delimiter = ';')
Cdata2 = pd.read_csv(os.getcwd() + '/Coosto Manual/Coosto_berichten (1).csv', 
                     delimiter = ';')
Cdata3 = pd.read_csv(os.getcwd() + '/Coosto Manual/Coosto_berichten (2).csv', 
                     delimiter = ';')
Cdata4 = pd.read_csv(os.getcwd() + '/Coosto Manual/Coosto_berichten (3).csv', 
                     delimiter = ';')
Cdata5 = pd.read_csv(os.getcwd() + '/Coosto Manual/Coosto_berichten (4).csv', 
                     delimiter = ';')
Cdata6 = pd.read_csv(os.getcwd() + '/Coosto Manual/Coosto_berichten (5).csv', 
                     delimiter = ';')
Cdata7 = pd.read_csv(os.getcwd() + '/Coosto Manual/Coosto_berichten (6).csv', 
                     delimiter = ';')
Cdata8 = pd.read_csv(os.getcwd() + '/Coosto Manual/Coosto_berichten (7).csv', 
                     delimiter = ';')
Cdata9 = pd.read_csv(os.getcwd() + '/Coosto Manual/Coosto_berichten (8).csv', 
                     delimiter = ';')
Cdata10 = pd.read_csv(os.getcwd() + '/Coosto Manual/Coosto_berichten (9).csv', 
                     delimiter = ';')
Cdata11 = pd.read_csv(os.getcwd() + '/Coosto Manual/Coosto_berichten (10).csv', 
                     delimiter = ';')
Cdata12 = pd.read_csv(os.getcwd() + '/Coosto Manual/Coosto_berichten (11).csv', 
                     delimiter = ';')
Cdata13 = pd.read_csv(os.getcwd() + '/Coosto Manual/Coosto_berichten (12).csv', 
                     delimiter = ';')
Cdata14 = pd.read_csv(os.getcwd() + '/Coosto Manual/Coosto_berichten (13).csv', 
                     delimiter = ';')
Cdata15 = pd.read_csv(os.getcwd() + '/Coosto Manual/Coosto_berichten (14).csv', 
                     delimiter = ';')
Cdata16 = pd.read_csv(os.getcwd() + '/Coosto Manual/Coosto_berichten (15).csv', 
                     delimiter = ';')
Cdata17 = pd.read_csv(os.getcwd() + '/Coosto Manual/Coosto_berichten (16).csv', 
                     delimiter = ';')
Cdata18 = pd.read_csv(os.getcwd() + '/Coosto Manual/Coosto_berichten (17).csv', 
                     delimiter = ';')
Cdata19 = pd.read_csv(os.getcwd() + '/Coosto Manual/Coosto_berichten (18).csv', 
                     delimiter = ';')
Cdata20 = pd.read_csv(os.getcwd() + '/Coosto Manual/Coosto_berichten (19).csv', 
                     delimiter = ';')
Cdata21 = pd.read_csv(os.getcwd() + '/Coosto Manual/Coosto_berichten (20).csv', 
                     delimiter = ';')
Cdata22 = pd.read_csv(os.getcwd() + '/Coosto Manual/Coosto_berichten (21).csv', 
                     delimiter = ';')

In [5]:
#Clean SearchQuery

#Search Query is limited to a number of characters when manually collecting the data via Coosto. If this is the case through their API,
#is unsure. The right query is required to match the search query to the organizations.

Cdata1['zoekopdracht'] = '"Aalberts N.V." OR "AALB"'
Cdata2['zoekopdracht'] = '"ABN AMRO Group" OR "ABN" OR "ABN AMRO"'
Cdata3['zoekopdracht'] = '"Accell Group" OR "ACCEL"'
Cdata4['zoekopdracht'] = '"Accsys Technologies" OR "AXS" OR "Accsys"'
Cdata5['zoekopdracht'] = '"Adyen" OR "ADYEN"'
Cdata6['zoekopdracht'] = '"AEGON" OR "AGN"'
Cdata7['zoekopdracht'] = '"Koninklijke Ahold" OR "Ahold" OR "AD" OR "Ahold Delhaize"'
Cdata8['zoekopdracht'] = '"shell"'
Cdata9['zoekopdracht'] = '"Air France-KLM" OR "Air France" OR "KLM"'
Cdata10['zoekopdracht'] = '"AkzoNobel" OR "AKZA"'
Cdata11['zoekopdracht'] = '"Alfen" OR "ALFEN"'
Cdata12['zoekopdracht'] = '"Altice Europe" OR "ATC" OR "Altice"'
Cdata13['zoekopdracht'] = '"Coca-Cola European Partners" OR "Coca-Cola" OR "Coca Cola" OR "CCE"'
Cdata14['zoekopdracht'] = '"Greenchoice"'
Cdata15['zoekopdracht'] = '"Vattenfall" OR "NUON"'
Cdata16['zoekopdracht'] = '"Vandebron"'
Cdata17['zoekopdracht'] = '"Eneco"'
Cdata18['zoekopdracht'] = '"Essent"'
Cdata19['zoekopdracht'] = '"ENGIE"'
Cdata20['zoekopdracht'] = '"Nederlandse Energie Maatschappij"'
Cdata21['zoekopdracht'] = '"Oxxio"'
Cdata22['zoekopdracht'] = '"Alliander" OR "Liander" OR "Qirion" OR "Kenter"'

In [6]:
pd.set_option('display.max_colwidth', None) #Show ful message

In [7]:
#Concat data
Data = pd.concat([Cdata1, Cdata2, Cdata3, Cdata4, Cdata5, Cdata6, Cdata7, Cdata8, Cdata9, Cdata10, Cdata11, Cdata12,
                  Cdata13, Cdata14, Cdata15, Cdata16, Cdata17, Cdata18, Cdata19, Cdata20, Cdata21, Cdata22])

#Delete unnecessary columns
del Data['sentiment']
del Data['url']
del Data['type']
del Data['views']
del Data['discussielengte']
del Data['auteur']
del Data['volgers']
del Data['invloed']
del Data['GPS breedtegraad']
del Data['GPS lengtegraad']
#del Data['type bron']
del Data['titel']

#See full message
pd.set_option('display.max_colwidth', None) #Show ful message

Data

,zoekopdracht,datum,bericht tekst,type bron
0,"""Aalberts N.V."" OR ""AALB""",2021-04-12 18:18,Aero Logic | D-[AALB] | Boeing 777-FZN | Clitheroe 12/04/2021 #aerologic #daalb #boeing #boeing777 #boeing777f #cargo #avgeek #aviation #planes #planespotting #planespotter #aviationphotography #airplan #aircraft #planespotter #fly #photography #spotting #highflyers #ott https://t.co/4uYPiwTjAw,twitter
1,"""Aalberts N.V."" OR ""AALB""",2021-03-18 11:53,$[AALB] #AALBERTS @aalbertsindustr - Dagelijks: AALBERTS NV maakt een erg sterke bullish trend door. Traders kunnen overwegen alleen longposities te handelen (op moment van aankoop) zolang de koers... https://t.co/hOiR5KPSeX,twitter
2,"""Aalberts N.V."" OR ""AALB""",2021-03-18 11:53,$[AALB] #AALBERTS - Dagelijks: AALBERTS NV maakt een erg sterke bullish trend door. Traders kunnen overwegen alleen longposities te handelen (op moment van aankoop) zolang de koers... https://t.co/dZWInNPIYj,twitter
3,"""Aalberts N.V."" OR ""AALB""",2021-02-16 12:41,Nederlandse scale-up Nearfield vult het metrologie-gat in de mondiale chipindustrie #3Dstructuren Aalberts advanced mechatronics [Aalberts N.V]. #advancedmotioncontrol #AMAT Applied Materials ASML #BenjaminBunday #chipindustrie #d…https://t.co/dTyXJs2KcP https://t.co/3R88TCMjts,twitter
4,"""Aalberts N.V."" OR ""AALB""",2020-11-05 14:53,"Zojuist de [AALB] dec20 30 call (optietip 176) verkocht voor €3,25. Gekocht voor €1,10. Had achteraf gezien beter gekund, maar je kunt toch niet echt ontevreden zijn met 195% winst. https://t.co/OsAvGABjst",twitter
...,...,...,...,...
9995,"""Alliander"" OR ""Liander"" OR ""Qirion"" OR ""Kenter""",2019-07-13 12:10,"https://t.co/NYnpVpVauf | #Vacature #Beleidsadviseur #Laagspanning | [Liander] | Landelijk | Ben jij de nauwkeurige, gedreven Beleidsadviseur die we zoeken? Kom ons team versterken! #Solliciteer #JobsinEnergy https://t.co/mHSftqxbtG",twitter
9996,"""Alliander"" OR ""Liander"" OR ""Qirion"" OR ""Kenter""",2019-07-13 11:30,https://t.co/mV9RK1qWGD | #Vacature #HSE #Business #Partner | [Liander] | Amsterdam | Ben jij die HSE professional met ervaring binnen een projectorganisatie? #Solliciteer #JobsinEnergy https://t.co/vbTEri0EAS,twitter
9997,"""Alliander"" OR ""Liander"" OR ""Qirion"" OR ""Kenter""",2019-07-13 11:00,https://t.co/BTP2UnDA0f | #Consultant – rol #Scrummaster | [Liander] | Duiven | Ben jij de pragmatische Scrummaster die we zoeken? Kom ons team versterken! | #JobsinEnergy | #Solliciteer https://t.co/1wfjeGqaTD,twitter
9998,"""Alliander"" OR ""Liander"" OR ""Qirion"" OR ""Kenter""",2019-07-13 10:22,Onderhoudsmonteur machines / installaties – Leeuwarden – [Alliander] – Leeuwarden https://t.co/210Z26FpnL,twitter
9999,"""Alliander"" OR ""Liander"" OR ""Qirion"" OR ""Kenter""",2019-07-13 10:04,#Stroomstoring #Hoogkarspel #Wervershoof (postcode 1616 en 1639) is opgelost. Er is op dit moment nog geen oorzaak bekend. Excuses voor het ongemak. [#Liander],twitter

In [6]:
#Check for NAN's and empty fields
Data.dropna(inplace=True)
NA=pd.concat([Data.isnull().sum(),Data.eq('').sum()],keys=['Nulls','Empty'],axis=1)
NA

               Nulls  Empty
zoekopdracht       0      0
datum              0      0
bericht tekst      0      0
type bron          0      0

In [104]:
#Detect language

def det(x):
    try:
        lang = detect(x)
    except:
        lang = 'Other'
    return lang

Data['Lang'] = Data['bericht tekst'].apply(det)
#Data

In [7]:
#Remove rows with less than 5 characters

#Create new dataframe with number of chars in the message
Data['Number of Chars'] = Data['bericht tekst'].str.len()

#Subset where number of chars is bigger than 10
Data2 = Data[Data['Number of Chars'] > 10]  

#Delete column Number of Chars
del Data2['Number of Chars']


Data2

,zoekopdracht,datum,bericht tekst,type bron
0,"""Aalberts N.V."" OR ""AALB""",2021-04-12 18:18,Aero Logic | D-[AALB] | Boeing 777-FZN | Clitheroe 12/04/2021 #aerologic #daalb #boeing #boeing777 #boeing777f #cargo #avgeek #aviation #planes #planespotting #planespotter #aviationphotography #airplan #aircraft #planespotter #fly #photography #spotting #highflyers #ott https://t.co/4uYPiwTjAw,twitter
1,"""Aalberts N.V."" OR ""AALB""",2021-03-18 11:53,$[AALB] #AALBERTS @aalbertsindustr - Dagelijks: AALBERTS NV maakt een erg sterke bullish trend door. Traders kunnen overwegen alleen longposities te handelen (op moment van aankoop) zolang de koers... https://t.co/hOiR5KPSeX,twitter
2,"""Aalberts N.V."" OR ""AALB""",2021-03-18 11:53,$[AALB] #AALBERTS - Dagelijks: AALBERTS NV maakt een erg sterke bullish trend door. Traders kunnen overwegen alleen longposities te handelen (op moment van aankoop) zolang de koers... https://t.co/dZWInNPIYj,twitter
3,"""Aalberts N.V."" OR ""AALB""",2021-02-16 12:41,Nederlandse scale-up Nearfield vult het metrologie-gat in de mondiale chipindustrie #3Dstructuren Aalberts advanced mechatronics [Aalberts N.V]. #advancedmotioncontrol #AMAT Applied Materials ASML #BenjaminBunday #chipindustrie #d…https://t.co/dTyXJs2KcP https://t.co/3R88TCMjts,twitter
4,"""Aalberts N.V."" OR ""AALB""",2020-11-05 14:53,"Zojuist de [AALB] dec20 30 call (optietip 176) verkocht voor €3,25. Gekocht voor €1,10. Had achteraf gezien beter gekund, maar je kunt toch niet echt ontevreden zijn met 195% winst. https://t.co/OsAvGABjst",twitter
...,...,...,...,...
9995,"""Alliander"" OR ""Liander"" OR ""Qirion"" OR ""Kenter""",2019-07-13 12:10,"https://t.co/NYnpVpVauf | #Vacature #Beleidsadviseur #Laagspanning | [Liander] | Landelijk | Ben jij de nauwkeurige, gedreven Beleidsadviseur die we zoeken? Kom ons team versterken! #Solliciteer #JobsinEnergy https://t.co/mHSftqxbtG",twitter
9996,"""Alliander"" OR ""Liander"" OR ""Qirion"" OR ""Kenter""",2019-07-13 11:30,https://t.co/mV9RK1qWGD | #Vacature #HSE #Business #Partner | [Liander] | Amsterdam | Ben jij die HSE professional met ervaring binnen een projectorganisatie? #Solliciteer #JobsinEnergy https://t.co/vbTEri0EAS,twitter
9997,"""Alliander"" OR ""Liander"" OR ""Qirion"" OR ""Kenter""",2019-07-13 11:00,https://t.co/BTP2UnDA0f | #Consultant – rol #Scrummaster | [Liander] | Duiven | Ben jij de pragmatische Scrummaster die we zoeken? Kom ons team versterken! | #JobsinEnergy | #Solliciteer https://t.co/1wfjeGqaTD,twitter
9998,"""Alliander"" OR ""Liander"" OR ""Qirion"" OR ""Kenter""",2019-07-13 10:22,Onderhoudsmonteur machines / installaties – Leeuwarden – [Alliander] – Leeuwarden https://t.co/210Z26FpnL,twitter
9999,"""Alliander"" OR ""Liander"" OR ""Qirion"" OR ""Kenter""",2019-07-13 10:04,#Stroomstoring #Hoogkarspel #Wervershoof (postcode 1616 en 1639) is opgelost. Er is op dit moment nog geen oorzaak bekend. Excuses voor het ongemak. [#Liander],twitter

## Select only Tweets in Dutch

In [ ]:
DataNL = Data2[Data2['Lang'] == 'nl']
#DataNL = Data2.loc[Data['Lang'] == 'nl']
DataNL

## Clean data

In [220]:
#Data2 = Data.head(1500)

def clean_text(text):
    #Clean text
    text = re.sub(r"(?:\@|http?\://|https?\://|www)\S+", "", text) #Remove http links
    text = re.sub("[^a-zA-Z]", " ", text)# Search for all non-letters # Replace all non-letters with spaces
    text = text.lower() #Lower text
    text = re.sub('\[.*?\]', '', text)
    #text = re.sub(r"(?:\@|http?\://|https?\://|www)\S+", "", text) #Remove http links
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\w*\d\w*', '', text) #Remove numbers and text with numbers   
    text = ''.join(c for c in text if c not in emoji.UNICODE_EMOJI) #Remove Emojis
    text = re.sub('\n', '', text) #Remove \n
    text = re.sub('€', '', text) #Remove €
    
    # tokenize text and remove puncutation
    text = [word.strip(string.punctuation) for word in text.split(" ")]

    #Remove stopwords
    #Dutch stop words
    stop = nltk.corpus.stopwords.words('dutch')
    text = [word for word in text if word not in stop]    
    
    # remove empty tokens and tokens with 1 
    text = [t for t in text if len(t) > 1]    
    
    return text

#Clean text data
#DataNL['Text Clean'] = DataNL['bericht tekst'].apply(lambda x: clean_text(x))

#Stem cleaned data
#dutchStemmer=SnowballStemmer("dutch")
#DataNL['Stemmed Clean'] = DataNL['Text Clean'].apply(lambda x: [dutchStemmer.stem(y) for y in x]) # Stem every word.

#Note: Stemming makes words incorrect

In [31]:
DataNL

,zoekopdracht,datum,bericht tekst,type bron,Lang,Text Clean,Stemmed Clean,Subjectivity,Sentiment,Subjectivity
0,"""Aalberts N.V."" OR ""AALB""",2021-03-18 11:53,$[AALB] #AALBERTS @aalbertsindustr - Dagelijks: AALBERTS NV maakt een erg sterke bullish trend door. Traders kunnen overwegen alleen longposities te handelen (op moment van aankoop) zolang de koers... https://t.co/hOiR5KPSeX,twitter,nl,"[aalb, aalberts, dagelijks, aalberts, nv, maakt, erg, sterke, bullish, trend, traders, overwegen, alleen, longposities, handelen, moment, aankoop, zolang, koers]","['aalb', 'aalbert', 'dagelijk', 'aalbert', 'nv', 'maakt', 'erg', 'sterk', 'bullish', 'trend', 'trader', 'overweg', 'allen', 'longposities', 'handel', 'moment', 'aankop', 'zolang', 'koer']",0.650,0.388333,0.650
1,"""Aalberts N.V."" OR ""AALB""",2021-03-18 11:53,$[AALB] #AALBERTS - Dagelijks: AALBERTS NV maakt een erg sterke bullish trend door. Traders kunnen overwegen alleen longposities te handelen (op moment van aankoop) zolang de koers... https://t.co/dZWInNPIYj,twitter,nl,"[aalb, aalberts, dagelijks, aalberts, nv, maakt, erg, sterke, bullish, trend, traders, overwegen, alleen, longposities, handelen, moment, aankoop, zolang, koers]","['aalb', 'aalbert', 'dagelijk', 'aalbert', 'nv', 'maakt', 'erg', 'sterk', 'bullish', 'trend', 'trader', 'overweg', 'allen', 'longposities', 'handel', 'moment', 'aankop', 'zolang', 'koer']",0.650,0.388333,0.650
2,"""Aalberts N.V."" OR ""AALB""",2020-11-05 14:53,"Zojuist de [AALB] dec20 30 call (optietip 176) verkocht voor €3,25. Gekocht voor €1,10. Had achteraf gezien beter gekund, maar je kunt toch niet echt ontevreden zijn met 195% winst. https://t.co/OsAvGABjst",twitter,nl,"[zojuist, aalb, dec, call, optietip, verkocht, gekocht, achteraf, gezien, beter, gekund, kunt, echt, ontevreden, winst]","['zojuist', 'aalb', 'dec', 'call', 'optietip', 'verkocht', 'gekocht', 'achteraf', 'gezien', 'beter', 'gekund', 'kunt', 'echt', 'ontevred', 'winst']",0.625,0.125000,0.625
3,"""Aalberts N.V."" OR ""AALB""",2020-08-11 11:41,#Aalberts [#AALB] laat een mooie uitbraak zien boven de 200MA curve. Vanaf 20-07-20 in portfolio. Target €35.00 https://t.co/FxvCgNF88F,twitter,nl,"[aalberts, aalb, laat, mooie, uitbraak, zien, boven, ma, curve, vanaf, portfolio, target]","['aalbert', 'aalb', 'lat', 'mooi', 'uitbrak', 'zien', 'bov', 'ma', 'curv', 'vanaf', 'portfolio', 'target']",0.800,0.200000,0.800
4,"""Aalberts N.V."" OR ""AALB""",2020-04-01 16:43,Koenie's Corona Crash bodem kooplijstje: 1-ABN 2-AGN 3-[AALB] 4-ASML 5-ABI 6-MT 7-DSM 8-GLPG 9-HEI 10-ING 11-LIGHT 12-PHI 13-RDSA 14-UNIA 15-DEL2 Not Yet...W8 4 iT!,twitter,nl,"[koenie, corona, crash, bodem, kooplijstje, abn, agn, aalb, asml, abi, mt, dsm, glpg, hei, ing, light, phi, rdsa, unia, del, not, yet, it]","['koenie', 'corona', 'crash', 'bodem', 'kooplijstj', 'abn', 'agn', 'aalb', 'asml', 'abi', 'mt', 'dsm', 'glpg', 'hei', 'ing', 'light', 'phi', 'rdsa', 'unia', 'del', 'not', 'yet', 'it']",0.000,0.000000,0.000
...,...,...,...,...,...,...,...,...,...,...
128995,"""Alliander"" OR ""Liander"" OR ""Qirion"" OR ""Kenter""",2019-07-13 12:10,"https://t.co/NYnpVpVauf | #Vacature #Beleidsadviseur #Laagspanning | [Liander] | Landelijk | Ben jij de nauwkeurige, gedreven Beleidsadviseur die we zoeken? Kom ons team versterken! #Solliciteer #JobsinEnergy https://t.co/mHSftqxbtG",twitter,nl,"[vacature, beleidsadviseur, laagspanning, liander, landelijk, jij, nauwkeurige, gedreven, beleidsadviseur, we, zoeken, kom, team, versterken, solliciteer, jobsinenergy]","['vacatur', 'beleidsadviseur', 'laagspann', 'liander', 'landelijk', 'jij', 'nauwkeur', 'gedrev', 'beleidsadviseur', 'we', 'zoek', 'kom', 'team', 'versterk', 'solliciter', 'jobsinenergy']",0.550,0.500000,0.550
128996,"""Alliander"" OR ""Liander"" OR ""Qirion"" OR ""Kenter""",2019-07-13 11:30,https://t.co/mV9RK1qWGD | #Vacature #HSE #Business #Partner | [Liander] | Amsterdam | Ben jij die HSE professional met ervaring binnen een projectorganisatie? #Solliciteer #JobsinEnergy https://t.co/vbTEri0EAS,twitter,nl,"[vacature, hse, business, partner, liander, amsterdam, jij, hse, professional, ervaring, binnen, projectorganisatie, solliciteer, jobsinenergy]","['vacatur', 'hse', 'busines', 'partner', 'liander', 'amsterdam', 'jij', 'hse', 'professional', 'ervar', 'binn', 'projectorganisatie', 'solliciter', 'jobsinenergy']",0.000,0.000000,0.000
128997,"""Alliander"" OR ""Liander"" OR ""Qirion"" OR ""Kenter""",2019-07-13 11:00,https://t.co/BTP2UnDA0f | #Consultant – rol #Scrummaster | [Liander] | Duiven | Ben jij de pragmatische Scrummaster die we zoeken? Kom ons team versterken! | #JobsinEnergy | #Solliciteer https://t.co/1wfjeGqaTD,twitter,nl,"[consultant, rol, scrummaster, liander, duiven, jij, pragmatische, scrummaster, we, zoeken, kom, team, versterken, jobsinenergy, solliciteer]","['consultant', 'rol', 'scrummaster', 'liander', 'duiv', 'jij', 'pragmatisch', 'scrummaster', 'we', 'zoek', 'kom', 'team', 'versterk', 'jobsinenergy', 'solliciter']",0.000,0.000000,0.000
128998,"""Alliander"" OR ""Liander"" OR ""Qirion"" OR ""Kenter""",2019-07-13 10:22,Onderhoudsmonteur machines / installaties – Leeuwarden – [Alliander] – Leeuwarden https://t.co/210Z26FpnL,twitter,nl,"[onderhoudsmonteur, machines, installaties, leeuwarden, alliander, leeuwarden]","['onderhoudsmonteur', 'machines', 'installaties', 'leeuward', 'alliander', 'leeuward']",0.000,0.000000,0.000
128999,"""Alliander"" OR ""Liander"" OR ""Qirion"" OR ""Kenter""",2019-07-13 10:04,#Stroomstoring #Hoogkarspel #Wervershoof (postcode 1616 en 1639) is opgelost. Er is op dit moment nog geen oorzaak bekend. Excuses voor het ongemak. [#Liander],twitter,nl,"[stroomstoring, hoogkarspel, wervershoof, postcode, opgelost, moment, oorzaak, bekend, excuses, ongemak, liander]","['stroomstor', 'hoogkarspel', 'wervershof', 'postcod', 'opgelost', 'moment', 'oorzak', 'bekend', 'excuses', 'ongemak', 'liander']",0.800,0.350000,0.800

In [111]:
#Save DF
#DataNL.to_csv('Coosto_Clean_NL.csv')

## Sentiment analysis

#Calculate the sentiment over a Tweet whether it's positive or negative

In [8]:
#Read clean csv if necessary

DataNL = pd.read_csv('Coosto_Clean_NL.csv')
del DataNL['Unnamed: 0']
del DataNL['type bron']
del DataNL['Stemmed Clean']
del DataNL['Subjectivity']
del DataNL['Lang']
DataNL
#DataNL

,zoekopdracht,datum,bericht tekst,Text Clean,Sentiment
0,"""Aalberts N.V."" OR ""AALB""",2021-03-18 11:53,$[AALB] #AALBERTS @aalbertsindustr - Dagelijks: AALBERTS NV maakt een erg sterke bullish trend door. Traders kunnen overwegen alleen longposities te handelen (op moment van aankoop) zolang de koers... https://t.co/hOiR5KPSeX,"['aalb', 'aalberts', 'dagelijks', 'aalberts', 'nv', 'maakt', 'erg', 'sterke', 'bullish', 'trend', 'traders', 'overwegen', 'alleen', 'longposities', 'handelen', 'moment', 'aankoop', 'zolang', 'koers']",0.388333
1,"""Aalberts N.V."" OR ""AALB""",2021-03-18 11:53,$[AALB] #AALBERTS - Dagelijks: AALBERTS NV maakt een erg sterke bullish trend door. Traders kunnen overwegen alleen longposities te handelen (op moment van aankoop) zolang de koers... https://t.co/dZWInNPIYj,"['aalb', 'aalberts', 'dagelijks', 'aalberts', 'nv', 'maakt', 'erg', 'sterke', 'bullish', 'trend', 'traders', 'overwegen', 'alleen', 'longposities', 'handelen', 'moment', 'aankoop', 'zolang', 'koers']",0.388333
2,"""Aalberts N.V."" OR ""AALB""",2020-11-05 14:53,"Zojuist de [AALB] dec20 30 call (optietip 176) verkocht voor €3,25. Gekocht voor €1,10. Had achteraf gezien beter gekund, maar je kunt toch niet echt ontevreden zijn met 195% winst. https://t.co/OsAvGABjst","['zojuist', 'aalb', 'dec', 'call', 'optietip', 'verkocht', 'gekocht', 'achteraf', 'gezien', 'beter', 'gekund', 'kunt', 'echt', 'ontevreden', 'winst']",0.125000
3,"""Aalberts N.V."" OR ""AALB""",2020-08-11 11:41,#Aalberts [#AALB] laat een mooie uitbraak zien boven de 200MA curve. Vanaf 20-07-20 in portfolio. Target €35.00 https://t.co/FxvCgNF88F,"['aalberts', 'aalb', 'laat', 'mooie', 'uitbraak', 'zien', 'boven', 'ma', 'curve', 'vanaf', 'portfolio', 'target']",0.200000
4,"""Aalberts N.V."" OR ""AALB""",2020-04-01 16:43,Koenie's Corona Crash bodem kooplijstje: 1-ABN 2-AGN 3-[AALB] 4-ASML 5-ABI 6-MT 7-DSM 8-GLPG 9-HEI 10-ING 11-LIGHT 12-PHI 13-RDSA 14-UNIA 15-DEL2 Not Yet...W8 4 iT!,"['koenie', 'corona', 'crash', 'bodem', 'kooplijstje', 'abn', 'agn', 'aalb', 'asml', 'abi', 'mt', 'dsm', 'glpg', 'hei', 'ing', 'light', 'phi', 'rdsa', 'unia', 'del', 'not', 'yet', 'it']",0.000000
...,...,...,...,...,...
128995,"""Alliander"" OR ""Liander"" OR ""Qirion"" OR ""Kenter""",2019-07-13 12:10,"https://t.co/NYnpVpVauf | #Vacature #Beleidsadviseur #Laagspanning | [Liander] | Landelijk | Ben jij de nauwkeurige, gedreven Beleidsadviseur die we zoeken? Kom ons team versterken! #Solliciteer #JobsinEnergy https://t.co/mHSftqxbtG","['vacature', 'beleidsadviseur', 'laagspanning', 'liander', 'landelijk', 'jij', 'nauwkeurige', 'gedreven', 'beleidsadviseur', 'we', 'zoeken', 'kom', 'team', 'versterken', 'solliciteer', 'jobsinenergy']",0.500000
128996,"""Alliander"" OR ""Liander"" OR ""Qirion"" OR ""Kenter""",2019-07-13 11:30,https://t.co/mV9RK1qWGD | #Vacature #HSE #Business #Partner | [Liander] | Amsterdam | Ben jij die HSE professional met ervaring binnen een projectorganisatie? #Solliciteer #JobsinEnergy https://t.co/vbTEri0EAS,"['vacature', 'hse', 'business', 'partner', 'liander', 'amsterdam', 'jij', 'hse', 'professional', 'ervaring', 'binnen', 'projectorganisatie', 'solliciteer', 'jobsinenergy']",0.000000
128997,"""Alliander"" OR ""Liander"" OR ""Qirion"" OR ""Kenter""",2019-07-13 11:00,https://t.co/BTP2UnDA0f | #Consultant – rol #Scrummaster | [Liander] | Duiven | Ben jij de pragmatische Scrummaster die we zoeken? Kom ons team versterken! | #JobsinEnergy | #Solliciteer https://t.co/1wfjeGqaTD,"['consultant', 'rol', 'scrummaster', 'liander', 'duiven', 'jij', 'pragmatische', 'scrummaster', 'we', 'zoeken', 'kom', 'team', 'versterken', 'jobsinenergy', 'solliciteer']",0.000000
128998,"""Alliander"" OR ""Liander"" OR ""Qirion"" OR ""Kenter""",2019-07-13 10:22,Onderhoudsmonteur machines / installaties – Leeuwarden – [Alliander] – Leeuwarden https://t.co/210Z26FpnL,"['onderhoudsmonteur', 'machines', 'installaties', 'leeuwarden', 'alliander', 'leeuwarden']",0.000000
128999,"""Alliander"" OR ""Liander"" OR ""Qirion"" OR ""Kenter""",2019-07-13 10:04,#Stroomstoring #Hoogkarspel #Wervershoof (postcode 1616 en 1639) is opgelost. Er is op dit moment nog geen oorzaak bekend. Excuses voor het ongemak. [#Liander],"['stroomstoring', 'hoogkarspel', 'wervershoof', 'postcode', 'opgelost', 'moment', 'oorzaak', 'bekend', 'excuses', 'ongemak', 'liander']",0.350000

In [68]:
from pattern.nl import sentiment


def senti(text):
    text = sentiment(text)

    #text['Sentiment'] = text['bericht tekst'].apply(sentiment)
    
    return text

DataNL['Sentiment'] = DataNL['bericht tekst'].apply(senti)
DataNL = pd.concat([DataNL.drop(['Sentiment'], axis=1), DataNL['Sentiment'].apply(pd.Series)], axis=1).rename(columns={0:'Sentiment', 1:'Subjectivity'})
DataNL

,zoekopdracht,datum,bericht tekst,type bron,Lang,Text Clean,Stemmed Clean,Sentiment,Subjectivity
0,"""Aalberts N.V."" OR ""AALB""",2021-03-18 11:53,$[AALB] #AALBERTS @aalbertsindustr - Dagelijks: AALBERTS NV maakt een erg sterke bullish trend door. Traders kunnen overwegen alleen longposities te handelen (op moment van aankoop) zolang de koers... https://t.co/hOiR5KPSeX,twitter,nl,"['aalb', 'aalberts', 'dagelijks', 'aalberts', 'nv', 'maakt', 'erg', 'sterke', 'bullish', 'trend', 'traders', 'overwegen', 'alleen', 'longposities', 'handelen', 'moment', 'aankoop', 'zolang', 'koers']","['aalb', 'aalbert', 'dagelijk', 'aalbert', 'nv', 'maakt', 'erg', 'sterk', 'bullish', 'trend', 'trader', 'overweg', 'allen', 'longposities', 'handel', 'moment', 'aankop', 'zolang', 'koer']",0.388333,0.650
1,"""Aalberts N.V."" OR ""AALB""",2021-03-18 11:53,$[AALB] #AALBERTS - Dagelijks: AALBERTS NV maakt een erg sterke bullish trend door. Traders kunnen overwegen alleen longposities te handelen (op moment van aankoop) zolang de koers... https://t.co/dZWInNPIYj,twitter,nl,"['aalb', 'aalberts', 'dagelijks', 'aalberts', 'nv', 'maakt', 'erg', 'sterke', 'bullish', 'trend', 'traders', 'overwegen', 'alleen', 'longposities', 'handelen', 'moment', 'aankoop', 'zolang', 'koers']","['aalb', 'aalbert', 'dagelijk', 'aalbert', 'nv', 'maakt', 'erg', 'sterk', 'bullish', 'trend', 'trader', 'overweg', 'allen', 'longposities', 'handel', 'moment', 'aankop', 'zolang', 'koer']",0.388333,0.650
2,"""Aalberts N.V."" OR ""AALB""",2020-11-05 14:53,"Zojuist de [AALB] dec20 30 call (optietip 176) verkocht voor €3,25. Gekocht voor €1,10. Had achteraf gezien beter gekund, maar je kunt toch niet echt ontevreden zijn met 195% winst. https://t.co/OsAvGABjst",twitter,nl,"['zojuist', 'aalb', 'dec', 'call', 'optietip', 'verkocht', 'gekocht', 'achteraf', 'gezien', 'beter', 'gekund', 'kunt', 'echt', 'ontevreden', 'winst']","['zojuist', 'aalb', 'dec', 'call', 'optietip', 'verkocht', 'gekocht', 'achteraf', 'gezien', 'beter', 'gekund', 'kunt', 'echt', 'ontevred', 'winst']",0.125000,0.625
3,"""Aalberts N.V."" OR ""AALB""",2020-08-11 11:41,#Aalberts [#AALB] laat een mooie uitbraak zien boven de 200MA curve. Vanaf 20-07-20 in portfolio. Target €35.00 https://t.co/FxvCgNF88F,twitter,nl,"['aalberts', 'aalb', 'laat', 'mooie', 'uitbraak', 'zien', 'boven', 'ma', 'curve', 'vanaf', 'portfolio', 'target']","['aalbert', 'aalb', 'lat', 'mooi', 'uitbrak', 'zien', 'bov', 'ma', 'curv', 'vanaf', 'portfolio', 'target']",0.200000,0.800
4,"""Aalberts N.V."" OR ""AALB""",2020-04-01 16:43,Koenie's Corona Crash bodem kooplijstje: 1-ABN 2-AGN 3-[AALB] 4-ASML 5-ABI 6-MT 7-DSM 8-GLPG 9-HEI 10-ING 11-LIGHT 12-PHI 13-RDSA 14-UNIA 15-DEL2 Not Yet...W8 4 iT!,twitter,nl,"['koenie', 'corona', 'crash', 'bodem', 'kooplijstje', 'abn', 'agn', 'aalb', 'asml', 'abi', 'mt', 'dsm', 'glpg', 'hei', 'ing', 'light', 'phi', 'rdsa', 'unia', 'del', 'not', 'yet', 'it']","['koenie', 'corona', 'crash', 'bodem', 'kooplijstj', 'abn', 'agn', 'aalb', 'asml', 'abi', 'mt', 'dsm', 'glpg', 'hei', 'ing', 'light', 'phi', 'rdsa', 'unia', 'del', 'not', 'yet', 'it']",0.000000,0.000
...,...,...,...,...,...,...,...,...,...
128995,"""Alliander"" OR ""Liander"" OR ""Qirion"" OR ""Kenter""",2019-07-13 12:10,"https://t.co/NYnpVpVauf | #Vacature #Beleidsadviseur #Laagspanning | [Liander] | Landelijk | Ben jij de nauwkeurige, gedreven Beleidsadviseur die we zoeken? Kom ons team versterken! #Solliciteer #JobsinEnergy https://t.co/mHSftqxbtG",twitter,nl,"['vacature', 'beleidsadviseur', 'laagspanning', 'liander', 'landelijk', 'jij', 'nauwkeurige', 'gedreven', 'beleidsadviseur', 'we', 'zoeken', 'kom', 'team', 'versterken', 'solliciteer', 'jobsinenergy']","['vacatur', 'beleidsadviseur', 'laagspann', 'liander', 'landelijk', 'jij', 'nauwkeur', 'gedrev', 'beleidsadviseur', 'we', 'zoek', 'kom', 'team', 'versterk', 'solliciter', 'jobsinenergy']",0.500000,0.550
128996,"""Alliander"" OR ""Liander"" OR ""Qirion"" OR ""Kenter""",2019-07-13 11:30,https://t.co/mV9RK1qWGD | #Vacature #HSE #Business #Partner | [Liander] | Amsterdam | Ben jij die HSE professional met ervaring binnen een projectorganisatie? #Solliciteer #JobsinEnergy https://t.co/vbTEri0EAS,twitter,nl,"['vacature', 'hse', 'business', 'partner', 'liander', 'amsterdam', 'jij', 'hse', 'professional', 'ervaring', 'binnen', 'projectorganisatie', 'solliciteer', 'jobsinenergy']","['vacatur', 'hse', 'busines', 'partner', 'liander', 'amsterdam', 'jij', 'hse', 'professional', 'ervar', 'binn', 'projectorganisatie', 'solliciter', 'jobsinenergy']",0.000000,0.000
128997,"""Alliander"" OR ""Liander"" OR ""Qirion"" OR ""Kenter""",2019-07-13 11:00,https://t.co/BTP2UnDA0f | #Consultant – rol #Scrummaster | [Liander] | Duiven | Ben jij de pragmatische Scrummaster die we zoeken? Kom ons team versterken! | #JobsinEnergy | #Solliciteer https://t.co/1wfjeGqaTD,twitter,nl,"['consultant', 'rol', 'scrummaster', 'liander', 'duiven', 'jij', 'pragmatische', 'scrummaster', 'we', 'zoeken', 'kom', 'team', 'versterken', 'jobsinenergy', 'solliciteer']","['consultant', 'rol', 'scrummaster', 'liander', 'duiv', 'jij', 'pragmatisch', 'scrummaster', 'we', 'zoek', 'kom', 'team', 'versterk', 'jobsinenergy', 'solliciter']",0.000000,0.000
128998,"""Alliander"" OR ""Liander"" OR ""Qirion"" OR ""Kenter""",2019-07-13 10:22,Onderhoudsmonteur machines / installaties – Leeuwarden – [Alliander] – Leeuwarden https://t.co/210Z26FpnL,twitter,nl,"['onderhoudsmonteur', 'machines', 'installaties', 'leeuwarden', 'alliander', 'leeuwarden']","['onderhoudsmonteur', 'machines', 'installaties', 'leeuward', 'alliander', 'leeuward']",0.000000,0.000
128999,"""Alliander"" OR ""Liander"" OR ""Qirion"" OR ""Kenter""",2019-07-13 10:04,#Stroomstoring #Hoogkarspel #Wervershoof (postcode 1616 en 1639) is opgelost. Er is op dit moment nog geen oorzaak bekend. Excuses voor het ongemak. [#Liander],twitter,nl,"['stroomstoring', 'hoogkarspel', 'wervershoof', 'postcode', 'opgelost', 'moment', 'oorzaak', 'bekend', 'excuses', 'ongemak', 'liander']","['stroomstor', 'hoogkarspel', 'wervershof', 'postcod', 'opgelost', 'moment', 'oorzak', 'bekend', 'excuses', 'ongemak', 'liander']",0.350000,0.800

## Check words from wordlist in data

In [10]:
#Load wordlist
wordlist = pd.read_excel('Sustainability_Wordlist.xlsx')

wordlist

   Environmental Sustainability Social Sustainability Economic Sustainability
0                   efficiëntie               racisme           bedrijfsgroei
1             energie-efficiënt         discriminatie         groeicapaciteit
2           energie-efficiëntie         discrimineren               productie
3             energy efficiency            gelijkheid          productiegroei
4                 groene stroom           mensenrecht             conjunctuur
..                          ...                   ...                     ...
76                        solar                   NaN                     NaN
77                   greenhouse                   NaN                     NaN
78                          ghg                   NaN                     NaN
79                  klimaatdoel                   NaN                     NaN
80                klimaatdoelen                   NaN                     NaN

[81 rows x 3 columns]

In [11]:
def text_to_words(text):
    '''Transform a string to a list of words,
    removing all punctuation.'''
    text = text.lower()

    p = '!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'
    text = ''.join([ch for ch in text if ch not in p])

    return text.split()

def count_occurences(text, word_list):
    '''Count occurences of words from a list in a text string.'''
    text_list = text_to_words(text)

    intersection = [w for w in text_list if w in word_list]

    return len(intersection)

#Sustainable values
ENV_words = wordlist['Environmental Sustainability'].values
Social_words = wordlist['Social Sustainability'].values
Economic_words = wordlist['Economic Sustainability'].values

#Count the words per environmental/social/economic
DataNL['ENV_words'] = DataNL['Text Clean'].apply(count_occurences, args=(ENV_words, ))
DataNL['Social_words'] = DataNL['Text Clean'].apply(count_occurences, args=(Social_words, ))
DataNL['Economic_words'] = DataNL['Text Clean'].apply(count_occurences, args=(Economic_words, ))

#Label Sustainable Tweets

'''
DataNL['Sustainability'] = np.where((DataNL['ENV_words'] > ((DataNL['Social_words'])) & (DataNL['Economic_words'])) & 
                                    (DataNL['Sentiment'] >= 0), 'Environmental', 
                                     np.where((DataNL['Social_words'] > ((DataNL['ENV_words'])) & (DataNL['Economic_words'])) & 
                                              (DataNL['Sentiment'] >= 0), 'Social', 
                                               np.where((DataNL['Economic_words'] > ((DataNL['ENV_words'])) & (DataNL['Social_words'])) & 
                                                        (DataNL['Sentiment'] >= 0), 'Economic', 'Non-Sustainable')))

'''

DataNL['Sustainability'] = np.where((DataNL['ENV_words'] > ((DataNL['Social_words'])) & (DataNL['Economic_words'])) & 
                                     (DataNL['Sentiment'] >= 0), 'Positive Environmental', 
                                np.where((DataNL['ENV_words'] > ((DataNL['Social_words'])) & (DataNL['Economic_words'])) & 
                                         (DataNL['Sentiment'] < 0), 'Negative Environmental', 
                                    np.where((DataNL['Social_words'] > ((DataNL['ENV_words'])) & (DataNL['Economic_words'])) & 
                                             (DataNL['Sentiment'] >= 0), 'Positive Social', 
                                        np.where((DataNL['Social_words'] > ((DataNL['ENV_words'])) & (DataNL['Economic_words'])) & 
                                                 (DataNL['Sentiment'] < 0), 'Negative Social', 
                                            np.where((DataNL['Economic_words'] > ((DataNL['ENV_words'])) & (DataNL['Social_words'])) & 
                                                     (DataNL['Sentiment'] >= 0), 'Positive Economic', 
                                                np.where((DataNL['Economic_words'] > ((DataNL['ENV_words'])) & (DataNL['Social_words'])) & 
                                                         (DataNL['Sentiment'] < 0), 'Negative Economic', 
                                                    'Non-Sustainable'                                 
                                    ))))))


#New dummy columns to groupby later on

DataNL.loc[DataNL['Sustainability'] == 'Positive Environmental', 'Positive Environmental'] = 1
DataNL.loc[DataNL['Sustainability'] == 'Negative Environmental', 'Negative Environmental'] = 1

DataNL.loc[DataNL['Sustainability'] == 'Positive Social', 'Positive Social'] = 1
DataNL.loc[DataNL['Sustainability'] == 'Negative Social', 'Negative Social'] = 1

DataNL.loc[DataNL['Sustainability'] == 'Positive Economic', 'Positive Economic'] = 1
DataNL.loc[DataNL['Sustainability'] == 'Negative Economic', 'Negative Economic'] = 1


DataNL

,zoekopdracht,datum,bericht tekst,Text Clean,Sentiment,ENV_words,Social_words,Economic_words,Sustainability,Positive Environmental,Negative Environmental,Positive Social,Negative Social,Positive Economic,Negative Economic
0,"""Aalberts N.V."" OR ""AALB""",2021-03-18 11:53,$[AALB] #AALBERTS @aalbertsindustr - Dagelijks: AALBERTS NV maakt een erg sterke bullish trend door. Traders kunnen overwegen alleen longposities te handelen (op moment van aankoop) zolang de koers... https://t.co/hOiR5KPSeX,"['aalb', 'aalberts', 'dagelijks', 'aalberts', 'nv', 'maakt', 'erg', 'sterke', 'bullish', 'trend', 'traders', 'overwegen', 'alleen', 'longposities', 'handelen', 'moment', 'aankoop', 'zolang', 'koers']",0.388333,0,0,0,Non-Sustainable,NaN,NaN,NaN,NaN,NaN,NaN
1,"""Aalberts N.V."" OR ""AALB""",2021-03-18 11:53,$[AALB] #AALBERTS - Dagelijks: AALBERTS NV maakt een erg sterke bullish trend door. Traders kunnen overwegen alleen longposities te handelen (op moment van aankoop) zolang de koers... https://t.co/dZWInNPIYj,"['aalb', 'aalberts', 'dagelijks', 'aalberts', 'nv', 'maakt', 'erg', 'sterke', 'bullish', 'trend', 'traders', 'overwegen', 'alleen', 'longposities', 'handelen', 'moment', 'aankoop', 'zolang', 'koers']",0.388333,0,0,0,Non-Sustainable,NaN,NaN,NaN,NaN,NaN,NaN
2,"""Aalberts N.V."" OR ""AALB""",2020-11-05 14:53,"Zojuist de [AALB] dec20 30 call (optietip 176) verkocht voor €3,25. Gekocht voor €1,10. Had achteraf gezien beter gekund, maar je kunt toch niet echt ontevreden zijn met 195% winst. https://t.co/OsAvGABjst","['zojuist', 'aalb', 'dec', 'call', 'optietip', 'verkocht', 'gekocht', 'achteraf', 'gezien', 'beter', 'gekund', 'kunt', 'echt', 'ontevreden', 'winst']",0.125000,0,0,0,Non-Sustainable,NaN,NaN,NaN,NaN,NaN,NaN
3,"""Aalberts N.V."" OR ""AALB""",2020-08-11 11:41,#Aalberts [#AALB] laat een mooie uitbraak zien boven de 200MA curve. Vanaf 20-07-20 in portfolio. Target €35.00 https://t.co/FxvCgNF88F,"['aalberts', 'aalb', 'laat', 'mooie', 'uitbraak', 'zien', 'boven', 'ma', 'curve', 'vanaf', 'portfolio', 'target']",0.200000,0,0,0,Non-Sustainable,NaN,NaN,NaN,NaN,NaN,NaN
4,"""Aalberts N.V."" OR ""AALB""",2020-04-01 16:43,Koenie's Corona Crash bodem kooplijstje: 1-ABN 2-AGN 3-[AALB] 4-ASML 5-ABI 6-MT 7-DSM 8-GLPG 9-HEI 10-ING 11-LIGHT 12-PHI 13-RDSA 14-UNIA 15-DEL2 Not Yet...W8 4 iT!,"['koenie', 'corona', 'crash', 'bodem', 'kooplijstje', 'abn', 'agn', 'aalb', 'asml', 'abi', 'mt', 'dsm', 'glpg', 'hei', 'ing', 'light', 'phi', 'rdsa', 'unia', 'del', 'not', 'yet', 'it']",0.000000,0,0,0,Non-Sustainable,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128995,"""Alliander"" OR ""Liander"" OR ""Qirion"" OR ""Kenter""",2019-07-13 12:10,"https://t.co/NYnpVpVauf | #Vacature #Beleidsadviseur #Laagspanning | [Liander] | Landelijk | Ben jij de nauwkeurige, gedreven Beleidsadviseur die we zoeken? Kom ons team versterken! #Solliciteer #JobsinEnergy https://t.co/mHSftqxbtG","['vacature', 'beleidsadviseur', 'laagspanning', 'liander', 'landelijk', 'jij', 'nauwkeurige', 'gedreven', 'beleidsadviseur', 'we', 'zoeken', 'kom', 'team', 'versterken', 'solliciteer', 'jobsinenergy']",0.500000,0,0,0,Non-Sustainable,NaN,NaN,NaN,NaN,NaN,NaN
128996,"""Alliander"" OR ""Liander"" OR ""Qirion"" OR ""Kenter""",2019-07-13 11:30,https://t.co/mV9RK1qWGD | #Vacature #HSE #Business #Partner | [Liander] | Amsterdam | Ben jij die HSE professional met ervaring binnen een projectorganisatie? #Solliciteer #JobsinEnergy https://t.co/vbTEri0EAS,"['vacature', 'hse', 'business', 'partner', 'liander', 'amsterdam', 'jij', 'hse', 'professional', 'ervaring', 'binnen', 'projectorganisatie', 'solliciteer', 'jobsinenergy']",0.000000,0,0,1,Positive Economic,NaN,NaN,NaN,NaN,1.0,NaN
128997,"""Alliander"" OR ""Liander"" OR ""Qirion"" OR ""Kenter""",2019-07-13 11:00,https://t.co/BTP2UnDA0f | #Consultant – rol #Scrummaster | [Liander] | Duiven | Ben jij de pragmatische Scrummaster die we zoeken? Kom ons team versterken! | #JobsinEnergy | #Solliciteer https://t.co/1wfjeGqaTD,"['consultant', 'rol', 'scrummaster', 'liander', 'duiven', 'jij', 'pragmatische', 'scrummaster', 'we', 'zoeken', 'kom', 'team', 'versterken', 'jobsinenergy', 'solliciteer']",0.000000,0,0,0,Non-Sustainable,NaN,NaN,NaN,NaN,NaN,NaN
128998,"""Alliander"" OR ""Liander"" OR ""Qirion"" OR ""Kenter""",2019-07-13 10:22,Onderhoudsmonteur machines / installaties – Leeuwarden – [Alliander] – Leeuwarden https://t.co/210Z26FpnL,"['onderhoudsmonteur', 'machines', 'installaties', 'leeuwarden', 'alliander', 'leeuwarden']",0.000000,0,0,0,Non-Sustainable,NaN,NaN,NaN,NaN,NaN,NaN
128999,"""Alliander"" OR ""Liander"" OR ""Qirion"" OR ""Kenter""",2019-07-13 10:04,#Stroomstoring #Hoogkarspel #Wervershoof (postcode 1616 en 1639) is opgelost. Er is op dit moment nog geen oorzaak bekend. Excuses voor het ongemak. [#Liander],"['stroomstoring', 'hoogkarspel', 'wervershoof', 'postcode', 'opgelost', 'moment', 'oorzaak', 'bekend', 'excuses', 'ongemak', 'liander']",0.350000,0,0,0,Non-Sustainable,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
RESU = DataNL[(DataNL['ENV_words'] == 1) | (DataNL['Social_words'] == 1) | (DataNL['Economic_words'] == 1)]

from sklearn.utils import shuffle
RESU = shuffle(RESU)
RESU = shuffle(RESU)

#RESU.sample(frac=1).reset_index(drop = True)

RESU

,zoekopdracht,datum,bericht tekst,Text Clean,Sentiment,ENV_words,Social_words,Economic_words,Sustainability,Positive Environmental,Negative Environmental,Positive Social,Negative Social,Positive Economic,Negative Economic
104323,"""ENGIE""",2018-09-17 22:03,[ENGIE]'s CEO Han Blokland: ‘Transitie complexer dan men denkt’ https://t.co/53nlcLNnTe,"['engie', 'ceo', 'han', 'blokland', 'transitie', 'complexer', 'denkt']",0.000000,1,0,0,Positive Environmental,1.0,NaN,NaN,NaN,NaN,NaN
49029,"""AkzoNobel"" OR ""AKZA""",2018-07-10 12:53,Na Sassenheim en Wapenveld ook staking bij [AkzoNobel] Hengelo https://t.co/wyOhyXE8gr via @FNV,"['sassenheim', 'wapenveld', 'staking', 'akzonobel', 'hengelo', 'via']",0.000000,0,1,0,Positive Social,NaN,NaN,1.0,NaN,NaN,NaN
14549,"""Adyen"" OR ""ADYEN""",2018-06-13 22:05,"Belastingdienst - Chaos met Erfbelasting Justitie en Veiligheid - Chaos met DNA-profielen Defensie - Chaos met uitrusting en training Wat de de overeenkomst tussen deze ministeries? Zij werden da afgelopen jaren ""bestuurd"" door een VVD-bewindsman #nieuwsuur","['belastingdienst', 'chaos', 'erfbelasting', 'justitie', 'veiligheid', 'chaos', 'dna', 'profielen', 'defensie', 'chaos', 'uitrusting', 'training', 'overeenkomst', 'tussen', 'ministeries', 'werden', 'da', 'afgelopen', 'jaren', 'bestuurd', 'vvd', 'bewindsman', 'nieuwsuur']",0.000000,0,1,0,Positive Social,NaN,NaN,1.0,NaN,NaN,NaN
96763,"""Essent""",2018-12-13 15:09,[Essent] wil asbestdaken vervangen met tienduizenden zonnepanelen https://t.co/oxIVSDXrnV,"['essent', 'asbestdaken', 'vervangen', 'tienduizenden', 'zonnepanelen']",0.000000,1,0,0,Positive Environmental,1.0,NaN,NaN,NaN,NaN,NaN
82186,"""Vattenfall"" OR ""NUON""",2018-04-16 12:43,"""....en #windmolens van [NUON] in het bos"" In het bos! Alles mag en moet kapot voor de miljardensubsidies uit úw zakken","['windmolens', 'nuon', 'bos', 'bos', 'mag', 'kapot', 'miljardensubsidies', 'zakken']",-0.350000,1,0,0,Negative Environmental,NaN,1.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88148,"""Vandebron""",2016-11-22 21:09,"Het komende jaar zit ik goed bij [Vandebron], met goeie energie van Windpark Landtong Rozenburg. https://t.co/UhDaLoxgfl #vandebron","['komende', 'jaar', 'zit', 'goed', 'vandebron', 'goeie', 'energie', 'windpark', 'landtong', 'rozenburg', 'vandebron']",0.383333,1,0,0,Positive Environmental,1.0,NaN,NaN,NaN,NaN,NaN
55105,"""Altice Europe"" OR ""ATC"" OR ""Altice""",2019-01-31 12:07,"[ATC] (Arbeids- en TrainingsCentrum) @Salland @Raalte is een actieve #RIBW- club. Ze knappen fietsen op en verkopen deze voor een aantrekkelijke prijs, bieden heerlijke maaltijden aan zoals kip tandoori of lasagne. Lees daarom snel hun nieuwsbrief https://t.co/3DChlSKa60 https://t.co/V4JtzWdhen","['atc', 'arbeids', 'trainingscentrum', 'actieve', 'ribw', 'club', 'knappen', 'fietsen', 'verkopen', 'aantrekkelijke', 'prijs', 'bieden', 'heerlijke', 'maaltijden', 'zoals', 'kip', 'tandoori', 'lasagne', 'lees', 'daarom', 'snel', 'nieuwsbrief']",0.600000,0,0,1,Positive Economic,NaN,NaN,NaN,NaN,1.0,NaN
33493,"""shell""",2021-01-29 15:09,"[Shell] aansprakelijk voor olievervuiling in Nigeria, moet boeren betalen best bijzonder. belooft wat! https://t.co/hV6ka7p0lT","['shell', 'aansprakelijk', 'olievervuiling', 'nigeria', 'boeren', 'betalen', 'best', 'bijzonder', 'belooft']",0.234375,1,0,0,Positive Environmental,1.0,NaN,NaN,NaN,NaN,NaN
2619,"""ABN AMRO Group"" OR ""ABN"" OR ""ABN AMRO""",2021-03-05 09:05,"Economen van de [ABN AMRO] verwachten dat de rente op hypotheken met een lange looptijd licht zal stijgen, wanneer de economie zich weer herstelt. Maar een hoge inflatie zal er volgens hen niet komen. https://t.co/lMy3TAo9EV https://t.co/Eu98mWxYMX","['economen', 'abn', 'amro', 'verwachten', 'rente', 'hypotheken', 'lange', 'looptijd', 'licht', 'stijgen', 'wanneer', 'economie', 'weer', 'herstelt', 'hoge', 'inflatie', 'volgens', 'hen', 'komen']",0.075000,0,0,1,Positive Economic,NaN,NaN,NaN,NaN,1.0,NaN
104713,"""ENGIE""",2018-07-30 08:18,[ENGIE] renoveert deze zomer op #duurzame wijze IJsbaan De Meent Bauerfeind in opdracht van @AlkmaarSport namens de gemeente Alkmaar https://t.co/oL9u3QfH8E,"['engie', 'renoveert', 'zomer', 'duurzame', 'wijze', 'ijsbaan', 'meent', 'bauerfeind', 'opdracht', 'namens', 'gemeente', 'alkmaar']",0.700000,1,0,0,Positive Environmental,1.0,NaN,NaN,NaN,NaN,NaN

In [12]:
DataNL['Positive Environmental'].sum()

10554.0

In [63]:
#Total number of Tweets per company
TotalTweets = DataNL.groupby(['zoekopdracht']).size().reset_index(name='Total Tweets')

#Number of sustainable Tweets per company
SustTweets = DataNL[['zoekopdracht', 
                     'Positive Environmental', 
                     'Negative Environmental', 
                     'Positive Social', 
                     'Negative Social', 
                     'Positive Economic', 
                     'Negative Economic']]

SustTweets = SustTweets.groupby('zoekopdracht').sum() #Get total number of sust tweets, for percentage use .mean()
SustTweets['Total Sustainability Tweets'] = (SustTweets['Positive Environmental'] + 
                                             SustTweets['Negative Environmental'] + 
                                             SustTweets['Positive Social'] + 
                                             SustTweets['Negative Social'] + 
                                             SustTweets['Positive Economic'] +                                              
                                             SustTweets['Negative Economic']
                                            )

#Merge datasets
Tweets = pd.merge(SustTweets, TotalTweets, on = 'zoekopdracht', how = 'inner')

#Calculate index
Tweets['Pos Sustainability Index'] = ((Tweets['Positive Environmental'] + 
                                            Tweets['Positive Social'] + 
                                            Tweets['Positive Economic']) /
                                            Tweets['Total Sustainability Tweets']) * 100
Tweets['Sustainability Index'] = (Tweets['Total Sustainability Tweets'] / Tweets['Total Tweets'])*100
Tweets['Environmental Index'] = ((Tweets['Positive Environmental'] + Tweets['Negative Environmental']) / 
                                  Tweets['Total Sustainability Tweets']) * 100
Tweets['Social Index'] = ((Tweets['Positive Social'] + Tweets['Negative Social']) / 
                           Tweets['Total Sustainability Tweets']) * 100
Tweets['Economic Index'] = ((Tweets['Positive Economic'] + Tweets['Negative Economic']) / 
                             Tweets['Total Sustainability Tweets']) * 100

#Pos/Neg per dimension
Tweets['Pos Environmental Index'] = (Tweets['Positive Environmental']/(
                                          Tweets['Positive Environmental'] + Tweets['Negative Environmental'])) * 100
Tweets['Neg Environmental Index'] = (Tweets['Negative Environmental']/(
                                          Tweets['Positive Environmental'] + Tweets['Negative Environmental'])) * 100

Tweets['Pos Social Index'] = (Tweets['Positive Social']/(
                                          Tweets['Positive Social'] + Tweets['Negative Social'])) * 100
Tweets['Neg Social Index'] = (Tweets['Negative Social']/(
                                          Tweets['Positive Social'] + Tweets['Negative Social'])) * 100

Tweets['Pos Economic Index'] = (Tweets['Positive Economic']/(
                                          Tweets['Positive Economic'] + Tweets['Negative Economic'])) * 100
Tweets['Neg Economic Index'] = (Tweets['Negative Economic']/(
                                          Tweets['Positive Economic'] + Tweets['Negative Economic'])) * 100

#Rename column for merge
Tweets = Tweets.rename(columns={'zoekopdracht': 'Search Query'})

Tweets

,Search Query,Positive Environmental,Negative Environmental,Positive Social,Negative Social,Positive Economic,Negative Economic,Total Sustainability Tweets,Total Tweets,Pos Sustainability Index,Sustainability Index,Environmental Index,Social Index,Economic Index,Pos Environmental Index,Neg Environmental Index,Pos Social Index,Neg Social Index,Pos Economic Index,Neg Economic Index
0,"""ABN AMRO Group"" OR ""ABN"" OR ""ABN AMRO""",472.0,111.0,71.0,30.0,609.0,131.0,1424.0,8748,80.898876,16.278006,40.941011,7.092697,51.966292,80.960549,19.039451,70.297030,29.702970,82.297297,17.702703
1,"""AEGON"" OR ""AGN""",14.0,2.0,4.0,0.0,168.0,14.0,202.0,4057,92.079208,4.979049,7.920792,1.980198,90.099010,87.500000,12.500000,100.000000,0.000000,92.307692,7.692308
2,"""Aalberts N.V."" OR ""AALB""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,60,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"""Accell Group"" OR ""ACCEL""",1.0,0.0,0.0,0.0,12.0,12.0,25.0,485,52.000000,5.154639,4.000000,0.000000,96.000000,100.000000,0.000000,NaN,NaN,50.000000,50.000000
4,"""Accsys Technologies"" OR ""AXS"" OR ""Accsys""",13.0,4.0,0.0,0.0,15.0,1.0,33.0,804,84.848485,4.104478,51.515152,0.000000,48.484848,76.470588,23.529412,NaN,NaN,93.750000,6.250000
5,"""Adyen"" OR ""ADYEN""",20.0,5.0,14.0,1.0,255.0,58.0,353.0,6728,81.869688,5.246730,7.082153,4.249292,88.668555,80.000000,20.000000,93.333333,6.666667,81.469649,18.530351
6,"""Air France-KLM"" OR ""Air France"" OR ""KLM""",181.0,76.0,51.0,58.0,265.0,119.0,750.0,8050,66.266667,9.316770,34.266667,14.533333,51.200000,70.428016,29.571984,46.788991,53.211009,69.010417,30.989583
7,"""AkzoNobel"" OR ""AKZA""",167.0,31.0,246.0,74.0,216.0,38.0,772.0,6061,81.476684,12.737172,25.647668,41.450777,32.901554,84.343434,15.656566,76.875000,23.125000,85.039370,14.960630
8,"""Alfen"" OR ""ALFEN""",105.0,16.0,13.0,2.0,21.0,10.0,167.0,1934,83.233533,8.634953,72.455090,8.982036,18.562874,86.776860,13.223140,86.666667,13.333333,67.741935,32.258065
9,"""Alliander"" OR ""Liander"" OR ""Qirion"" OR ""Kenter""",761.0,120.0,37.0,5.0,161.0,13.0,1097.0,8671,87.420237,12.651367,80.309936,3.828624,15.861440,86.379115,13.620885,88.095238,11.904762,92.528736,7.471264
10,"""Altice Europe"" OR ""ATC"" OR ""Altice""",14.0,7.0,78.0,14.0,100.0,25.0,238.0,6518,80.672269,3.651427,8.823529,38.655462,52.521008,66.666667,33.333333,84.782609,15.217391,80.000000,20.000000
11,"""Coca-Cola European Partners"" OR ""Coca-Cola"" OR ""Coca Cola"" OR ""CCE""",165.0,46.0,91.0,47.0,173.0,47.0,569.0,5927,75.395431,9.600135,37.082601,24.253076,38.664323,78.199052,21.800948,65.942029,34.057971,78.636364,21.363636
12,"""ENGIE""",1283.0,208.0,46.0,3.0,170.0,20.0,1730.0,7278,86.647399,23.770267,86.184971,2.832370,10.982659,86.049631,13.950369,93.877551,6.122449,89.473684,10.526316
13,"""Eneco""",10.0,1.0,2.0,0.0,0.0,0.0,13.0,87,92.307692,14.942529,84.615385,15.384615,0.000000,90.909091,9.090909,100.000000,0.000000,NaN,NaN
14,"""Essent""",979.0,159.0,32.0,21.0,160.0,37.0,1388.0,9070,84.365994,15.303197,81.988473,3.818444,14.193084,86.028120,13.971880,60.377358,39.622642,81.218274,18.781726
15,"""Greenchoice""",1738.0,369.0,33.0,2.0,107.0,27.0,2276.0,9500,82.513181,23.957895,92.574692,1.537786,5.887522,82.486948,17.513052,94.285714,5.714286,79.850746,20.149254
16,"""Koninklijke Ahold"" OR ""Ahold"" OR ""AD"" OR ""Ahold Delhaize""",95.0,11.0,136.0,30.0,303.0,94.0,669.0,8640,79.820628,7.743056,15.844544,24.813154,59.342302,89.622642,10.377358,81.927711,18.072289,76.322418,23.677582
17,"""Nederlandse Energie Maatschappij""",83.0,12.0,4.0,1.0,108.0,10.0,218.0,3521,89.449541,6.191423,43.577982,2.293578,54.128440,87.368421,12.631579,80.000000,20.000000,91.525424,8.474576
18,"""Oxxio""",102.0,19.0,13.0,8.0,212.0,54.0,408.0,9099,80.147059,4.484009,29.656863,5.147059,65.196078,84.297521,15.702479,61.904762,38.095238,79.699248,20.300752
19,"""Vandebron""",1374.0,412.0,27.0,5.0,271.0,23.0,2112.0,8348,79.166667,25.299473,84.564394,1.515152,13.920455,76.931691,23.068309,84.375000,15.625000,92.176871,7.823129
20,"""Vattenfall"" OR ""NUON""",1425.0,338.0,19.0,7.0,102.0,31.0,1922.0,8245,80.437045,23.311098,91.727367,1.352758,6.919875,80.828134,19.171866,73.076923,26.923077,76.691729,23.308271
21,"""shell""",1552.0,621.0,62.0,19.0,129.0,48.0,2431.0,7169,71.698889,33.909890,89.387084,3.331962,7.280954,71.421997,28.578003,76.543210,23.456790,72.881356,27.118644

## Merge dataframe with SearchQuery to match companies with their industry

In [102]:
#Read Search Query file
Companies = pd.read_excel('/Users/Marcel/Desktop/Master Digital Driven Business/Master Project/Data Collection/MasterProject_CoostoSearchQuery.xlsx')

#Select only desired columns
Companies2 = Companies[['Search Query', 'Organisation', 'Industry']]
Companies2 = Companies2.rename(columns={'Organisation': 'Organization/Company'})

#Merge and create final dataset
finaldf = pd.merge(Companies2, Tweets[['Search Query', 
                                       'Total Tweets',
                                       'Total Sustainability Tweets',
                                       'Sustainability Index',
                                       'Pos Sustainability Index',
                                       'Environmental Index',
                                       'Social Index',
                                       'Economic Index']], 
                   on = 'Search Query', how = 'inner')

#Delete unnecessary columns
del finaldf['Search Query']

finaldf = finaldf.round(2)
finaldf

,Organization/Company,Industry,Total Tweets,Total Sustainability Tweets,Sustainability Index,Pos Sustainability Index,Environmental Index,Social Index,Economic Index
0,Aalberts N.V.,Industrie,60,0.0,0.00,NaN,NaN,NaN,NaN
1,ABN AMRO Group,Financiële dienstverleners,8748,1424.0,16.28,80.90,40.94,7.09,51.97
2,Accell Group,Consumenten goederen,485,25.0,5.15,52.00,4.00,0.00,96.00
3,Accsys Technologies,Chemie,804,33.0,4.10,84.85,51.52,0.00,48.48
4,Adyen,Technologie,6728,353.0,5.25,81.87,7.08,4.25,88.67
5,AEGON,Financiële dienstverleners,4057,202.0,4.98,92.08,7.92,1.98,90.10
6,Koninklijke Ahold / Ahold Delhaize,Detail- & groothandel,8640,669.0,7.74,79.82,15.84,24.81,59.34
7,Air France-KLM,Transport & logistiek,8050,750.0,9.32,66.27,34.27,14.53,51.20
8,AkzoNobel,Chemie,6061,772.0,12.74,81.48,25.65,41.45,32.90
9,Alfen,Technologie,1934,167.0,8.63,83.23,72.46,8.98,18.56
10,Altice Europe,Telecommunicatie,6518,238.0,3.65,80.67,8.82,38.66,52.52
11,Coca-Cola European Partners,Voeding & drank,5927,569.0,9.60,75.40,37.08,24.25,38.66
12,Royal Dutch Shell A,Olie & Gas,7169,2431.0,33.91,71.70,89.39,3.33,7.28
13,Greenchoice,Energie,9500,2276.0,23.96,82.51,92.57,1.54,5.89
14,Vattenfall,Energie,8245,1922.0,23.31,80.44,91.73,1.35,6.92
15,Vandebron,Energie,8348,2112.0,25.30,79.17,84.56,1.52,13.92
16,Eneco,Energie,87,13.0,14.94,92.31,84.62,15.38,0.00
17,Essent,Energie,9070,1388.0,15.30,84.37,81.99,3.82,14.19
18,ENGIE,Energie,7278,1730.0,23.77,86.65,86.18,2.83,10.98
19,NLE (Nederlande Energie Maatschappij),Energie,3521,218.0,6.19,89.45,43.58,2.29,54.13
20,Oxxio,Energie,9099,408.0,4.48,80.15,29.66,5.15,65.20
21,Alliander,Energie,8671,1097.0,12.65,87.42,80.31,3.83,15.86

In [99]:
#Merge and create final dataset
finaldf2 = pd.merge(Companies2, Tweets[['Search Query',
                                        'Sustainability Index',
                                        'Environmental Index',
                                        'Pos Environmental Index',
                                        'Neg Environmental Index',
                                        'Social Index',
                                        'Pos Social Index',
                                        'Neg Social Index',
                                        'Economic Index',
                                        'Pos Economic Index',
                                        'Neg Economic Index']], 
                    on = 'Search Query', how = 'inner')

#Del column search query
del finaldf2['Search Query']

finaldf2 = finaldf2.round(2)
finaldf2

,Organisation,Industry,Sustainability Index,Environmental Index,Pos Environmental Index,Neg Environmental Index,Social Index,Pos Social Index,Neg Social Index,Economic Index,Pos Economic Index,Neg Economic Index
0,Aalberts N.V.,Industrie,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABN AMRO Group,Financiële dienstverleners,16.28,40.94,80.96,19.04,7.09,70.30,29.70,51.97,82.30,17.70
2,Accell Group,Consumenten goederen,5.15,4.00,100.00,0.00,0.00,NaN,NaN,96.00,50.00,50.00
3,Accsys Technologies,Chemie,4.10,51.52,76.47,23.53,0.00,NaN,NaN,48.48,93.75,6.25
4,Adyen,Technologie,5.25,7.08,80.00,20.00,4.25,93.33,6.67,88.67,81.47,18.53
5,AEGON,Financiële dienstverleners,4.98,7.92,87.50,12.50,1.98,100.00,0.00,90.10,92.31,7.69
6,Koninklijke Ahold / Ahold Delhaize,Detail- & groothandel,7.74,15.84,89.62,10.38,24.81,81.93,18.07,59.34,76.32,23.68
7,Air France-KLM,Transport & logistiek,9.32,34.27,70.43,29.57,14.53,46.79,53.21,51.20,69.01,30.99
8,AkzoNobel,Chemie,12.74,25.65,84.34,15.66,41.45,76.88,23.12,32.90,85.04,14.96
9,Alfen,Technologie,8.63,72.46,86.78,13.22,8.98,86.67,13.33,18.56,67.74,32.26
10,Altice Europe,Telecommunicatie,3.65,8.82,66.67,33.33,38.66,84.78,15.22,52.52,80.00,20.00
11,Coca-Cola European Partners,Voeding & drank,9.60,37.08,78.20,21.80,24.25,65.94,34.06,38.66,78.64,21.36
12,Royal Dutch Shell A,Olie & Gas,33.91,89.39,71.42,28.58,3.33,76.54,23.46,7.28,72.88,27.12
13,Greenchoice,Energie,23.96,92.57,82.49,17.51,1.54,94.29,5.71,5.89,79.85,20.15
14,Vattenfall,Energie,23.31,91.73,80.83,19.17,1.35,73.08,26.92,6.92,76.69,23.31
15,Vandebron,Energie,25.30,84.56,76.93,23.07,1.52,84.38,15.62,13.92,92.18,7.82
16,Eneco,Energie,14.94,84.62,90.91,9.09,15.38,100.00,0.00,0.00,NaN,NaN
17,Essent,Energie,15.30,81.99,86.03,13.97,3.82,60.38,39.62,14.19,81.22,18.78
18,ENGIE,Energie,23.77,86.18,86.05,13.95,2.83,93.88,6.12,10.98,89.47,10.53
19,NLE (Nederlande Energie Maatschappij),Energie,6.19,43.58,87.37,12.63,2.29,80.00,20.00,54.13,91.53,8.47
20,Oxxio,Energie,4.48,29.66,84.30,15.70,5.15,61.90,38.10,65.20,79.70,20.30
21,Alliander,Energie,12.65,80.31,86.38,13.62,3.83,88.10,11.90,15.86,92.53,7.47

In [98]:
#Benchmark industry
benchmark = finaldf2[finaldf2['Industry'] == 'Energie']

#Sort by sustainability index
benchmark.sort_values(by = 'Sustainability Index', ascending = False, inplace = True)

benchmark = benchmark.round(2)
benchmark

/Users/Marcel/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,Organisation,Industry,Sustainability Index,Environmental Index,Pos Environmental Index,Neg Environmental Index,Social Index,Pos Social Index,Neg Social Index,Economic Index,Pos Economic Index,Neg Economic Index
15,Vandebron,Energie,25.30,84.56,76.93,23.07,1.52,84.38,15.62,13.92,92.18,7.82
13,Greenchoice,Energie,23.96,92.57,82.49,17.51,1.54,94.29,5.71,5.89,79.85,20.15
18,ENGIE,Energie,23.77,86.18,86.05,13.95,2.83,93.88,6.12,10.98,89.47,10.53
14,Vattenfall,Energie,23.31,91.73,80.83,19.17,1.35,73.08,26.92,6.92,76.69,23.31
17,Essent,Energie,15.30,81.99,86.03,13.97,3.82,60.38,39.62,14.19,81.22,18.78
16,Eneco,Energie,14.94,84.62,90.91,9.09,15.38,100.00,0.00,0.00,NaN,NaN
21,Alliander,Energie,12.65,80.31,86.38,13.62,3.83,88.10,11.90,15.86,92.53,7.47
19,NLE (Nederlande Energie Maatschappij),Energie,6.19,43.58,87.37,12.63,2.29,80.00,20.00,54.13,91.53,8.47
20,Oxxio,Energie,4.48,29.66,84.30,15.70,5.15,61.90,38.10,65.20,79.70,20.30

## Vectorize

In [218]:
#DataNL2 = pd.read_csv('Coosto_Clean_NL.csv')

In [12]:
DataNL.set_index('zoekopdracht')
#del DataNL['Unnamed: 0']
DataNL2 = DataNL.sample(frac=1).reset_index(drop=True).head(65000)
#DataNL3 = DataNL.head(65000)
DataNL2

,zoekopdracht,datum,bericht tekst,type bron,Lang,Text Clean,Stemmed Clean,Subjectivity,Sentiment,Subjectivity
0,"""Coca-Cola European Partners"" OR ""Coca-Cola"" OR ""Coca Cola"" OR ""CCE""",2020-12-18 18:45,Helft van de banen bij [Coca-Cola] België bedreigd https://t.co/hT6UDHhZBb,twitter,nl,"['helft', 'banen', 'coca', 'cola', 'belgi', 'bedreigd']","['helft', 'ban', 'coca', 'cola', 'belgi', 'bedreigd']",0.00,0.000000,0.00
1,"""Essent""",2018-02-27 06:37,Parttime verkoopadviseur voor [Essent] in de 'Shop-in-Shop' - YoungCapital - Den Bosch https://t.co/lfOTMQn5xN,twitter,nl,"['parttime', 'verkoopadviseur', 'essent', 'shop', 'shop', 'youngcapital', 'den', 'bosch']","['parttim', 'verkoopadviseur', 'essent', 'shop', 'shop', 'youngcapital', 'den', 'bosch']",0.00,0.000000,0.00
2,"""Vattenfall"" OR ""NUON""",2021-01-15 07:00,Sloop [NUON]-gebouw https://t.co/iPNTpS90H4,twitter,nl,"['sloop', 'nuon', 'gebouw']","['slop', 'nuon', 'gebouw']",0.00,0.000000,0.00
3,"""ENGIE""",2018-10-22 16:47,"""Weinig elektrische wagens op Belgische wegen""...maar met het [ENGIE] project EV Boost komen er 900 bij tegen 2020 ! https://t.co/4PhSWZv4vE via @destandaard",twitter,nl,"['weinig', 'elektrische', 'wagens', 'belgische', 'wegen', 'engie', 'project', 'ev', 'boost', 'komen', 'via']","['weinig', 'elektrisch', 'wagen', 'belgisch', 'weg', 'engie', 'project', 'ev', 'boost', 'kom', 'via']",0.00,0.000000,0.00
4,"""Oxxio""",2015-08-31 18:19,[@Oxxio] als ik me aanmeld voor oxxio Hoe lang duurt het voor mn oude contract is opgezegd en overgezet is ?,twitter,nl,"['aanmeld', 'oxxio', 'lang', 'duurt', 'mn', 'oude', 'contract', 'opgezegd', 'overgezet']","['aanmeld', 'oxxio', 'lang', 'duurt', 'mn', 'oud', 'contract', 'opgezegd', 'overgezet']",0.40,-0.050000,0.40
...,...,...,...,...,...,...,...,...,...,...
64995,"""Vandebron""",2015-03-06 09:07,Solar Magazine - [#Vandebron] lanceert platform (#marktplaats) voor verkoop stroom van #zonnepanelen aan buren http://t.co/YaTRTFJ2p5,twitter,nl,"['solar', 'magazine', 'vandebron', 'lanceert', 'platform', 'marktplaats', 'verkoop', 'stroom', 'zonnepanelen', 'buren']","['solar', 'magazin', 'vandebron', 'lanceert', 'platform', 'marktplat', 'verkop', 'strom', 'zonnepanel', 'bur']",0.00,0.000000,0.00
64996,"""AEGON"" OR ""AGN""",2016-10-17 16:28,[#AEGON] Aegon aan kop op lager Damrak: Rentevrees en tegenvallende bedrijfscijfers zetten aandelenkoersen Euro... https://t.co/lCqOIGxCs2,twitter,nl,"['aegon', 'aegon', 'kop', 'lager', 'damrak', 'rentevrees', 'tegenvallende', 'bedrijfscijfers', 'zetten', 'aandelenkoersen', 'euro']","['aegon', 'aegon', 'kop', 'lager', 'damrak', 'rentevres', 'tegenvall', 'bedrijfscijfer', 'zet', 'aandelenkoers', 'euro']",0.00,0.000000,0.00
64997,"""ABN AMRO Group"" OR ""ABN"" OR ""ABN AMRO""",2020-12-17 06:00,[ABN AMRO]: veerkracht doorslaggevend ROTTERDAM – De coronacrisis zorgt voor grote verschillen tussen sectoren d... https://t.co/Gs4bfD0ral,twitter,nl,"['abn', 'amro', 'veerkracht', 'doorslaggevend', 'rotterdam', 'coronacrisis', 'zorgt', 'grote', 'verschillen', 'tussen', 'sectoren']","['abn', 'amro', 'veerkracht', 'doorslaggev', 'rotterdam', 'coronacrisis', 'zorgt', 'grot', 'verschill', 'tuss', 'sector']",0.65,0.283333,0.65
64998,"""Coca-Cola European Partners"" OR ""Coca-Cola"" OR ""Coca Cola"" OR ""CCE""",2019-03-26 16:50,Roemenie wil als EU-voorzitter werken aan het herstel van vertrouwen van burgers in de EU. https://t.co/9YPZta3ssy En tegelijkertijd laat zij zich sponsoren door [Coca-Cola]... https://t.co/Kx6qyGz9WI,twitter,nl,"['roemenie', 'eu', 'voorzitter', 'werken', 'herstel', 'vertrouwen', 'burgers', 'eu', 'tegelijkertijd', 'laat', 'sponsoren', 'coca', 'cola']","['roemenie', 'eu', 'voorzitter', 'werk', 'herstel', 'vertrouw', 'burger', 'eu', 'tegelijkertijd', 'lat', 'sponsor', 'coca', 'cola']",0.60,-0.300000,0.60
64999,"""Vandebron""",2018-03-17 21:00,"Wil je groene energie? Omdat ik klant ben bij [@Vandebron], mag ik mijn vrienden € 75,- cadeau doen. Meld je hier aan: https://t.co/A8kLifIiRu",twitter,nl,"['groene', 'energie', 'klant', 'mag', 'vrienden', 'cadeau', 'meld']","['groen', 'energie', 'klant', 'mag', 'vriend', 'cadeau', 'meld']",0.60,0.150000,0.60

In [82]:
#Get number of words

from sklearn.feature_extraction.text import CountVectorizer

def clean_text(text):
    #Clean text
    text = re.sub(r"(?:\@|http?\://|https?\://|www)\S+", "", text) #Remove http links
    text = re.sub("[^a-zA-Z]", " ", text)# Search for all non-letters # Replace all non-letters with spaces
    text = text.lower() #Lower text
    text = re.sub('\[.*?\]', '', text)
    #text = re.sub(r"(?:\@|http?\://|https?\://|www)\S+", "", text) #Remove http links
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\w*\d\w*', '', text) #Remove numbers and text with numbers   
    text = ''.join(c for c in text if c not in emoji.UNICODE_EMOJI) #Remove Emojis
    text = re.sub('\n', '', text) #Remove \n
    text = re.sub('€', '', text) #Remove €
    
    # tokenize text and remove puncutation
    text = [word.strip(string.punctuation) for word in text.split(" ")]

    #Remove stopwords
    #Dutch stop words
    stop = nltk.corpus.stopwords.words('dutch')
    text = [word for word in text if word not in stop]    
    
    # remove empty tokens and tokens with 1 
    text = [t for t in text if len(t) > 1]    
    
    return text

#Vectorize words
countVectorizer = CountVectorizer(analyzer=clean_text) #No word stemming in clean_text
countVector = countVectorizer.fit_transform(DataNL['bericht tekst'])
print('{} Number of tweets has {} words'.format(countVector.shape[0], countVector.shape[1]))

#Dataframe of words
count_vect_df = pd.DataFrame(countVector.toarray(), columns=countVectorizer.get_feature_names())
count_vect_df.head()

129000 Number of tweets has 75227 words

,aa,aaaaaaaaaaaaa,aaaaaaaargh,aaaaand,aaaargh,aaachh,aaah,aaansluiting,aaanvang,aaay,...,zwommen,zyn,zz,zzoomm,zzp,zzpay,zzpers,zzpol,zzzzz,zzzzzzzzzzzzz
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Select sustainable words from vectorizer

In [83]:
#Select only environmental words
ENV_vectors = count_vect_df[count_vect_df.columns.intersection(ENV_words)]
SOC_vectors = count_vect_df[count_vect_df.columns.intersection(Social_words)]
ECO_vectors = count_vect_df[count_vect_df.columns.intersection(Economic_words)]

#Select SQ, text and sentiment from data
smallset = DataNL[['zoekopdracht', 'datum', 'Sentiment']]

#Merge dataframes together
ENVcount = pd.concat([smallset, ENV_vectors], axis=1).reindex(smallset.index)
SOCcount = pd.concat([smallset, SOC_vectors], axis=1).reindex(smallset.index)
ECOcount = pd.concat([smallset, ECO_vectors], axis=1).reindex(smallset.index)

ENVcount

,zoekopdracht,datum,Sentiment,aardgasloos,biobrandstof,biodiversiteit,brandstof,brandstoffen,broeikaseffect,broeikasgas,...,warmteterugwinning,waterstof,windenergie,windmolen,windmolens,windpark,windparken,zonnepaneel,zonnepanelen,zonnepark
0,"""Aalberts N.V."" OR ""AALB""",2021-03-18 11:53,0.388333,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,"""Aalberts N.V."" OR ""AALB""",2021-03-18 11:53,0.388333,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,"""Aalberts N.V."" OR ""AALB""",2020-11-05 14:53,0.125000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,"""Aalberts N.V."" OR ""AALB""",2020-08-11 11:41,0.200000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,"""Aalberts N.V."" OR ""AALB""",2020-04-01 16:43,0.000000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128995,"""Alliander"" OR ""Liander"" OR ""Qirion"" OR ""Kenter""",2019-07-13 12:10,0.500000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
128996,"""Alliander"" OR ""Liander"" OR ""Qirion"" OR ""Kenter""",2019-07-13 11:30,0.000000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
128997,"""Alliander"" OR ""Liander"" OR ""Qirion"" OR ""Kenter""",2019-07-13 11:00,0.000000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
128998,"""Alliander"" OR ""Liander"" OR ""Qirion"" OR ""Kenter""",2019-07-13 10:22,0.000000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
128999,"""Alliander"" OR ""Liander"" OR ""Qirion"" OR ""Kenter""",2019-07-13 10:04,0.350000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Sum most frequent sustainability words with a positive sentiment per company

In [117]:
#Subset based on sentiment
PosENV = ENVcount[(ENVcount['Sentiment'] >= 0)]

#Delete Sentiment column
del PosENV['Sentiment']

#Groupby search query
PosENV = PosENV.groupby('zoekopdracht').sum() #Get sum of words used

#Reset index
PosENV.reset_index(inplace = True)

#Rename column for merge
PosENV = PosENV.rename(columns={'zoekopdracht': 'Search Query'})

#Merge and create final dataset
finalPosENV = pd.merge(Companies2, PosENV, on = 'Search Query', how = 'inner')

#Delete unnecessary columns
del finalPosENV['Search Query']

#Select specific company
PosENVShell = finalPosENV[(finalPosENV['Organization/Company'] == 'Royal Dutch Shell A')]

#Delete Industry column
del PosENVShell['Industry']
del PosENVShell['Organization/Company']

#Transpose (Switch rows and columns)
PosENVShell = PosENVShell.T.rename_axis('Words', axis=1)

#Rename column to company
PosENVShell.rename(columns={ PosENVShell.columns[0]: "Royal Dutch Shell A" }, inplace = True)

#Sort values
PosENVShell.sort_values(by = 'Royal Dutch Shell A', ascending = False, inplace = True)

PosENVShell.head(10)

Words               Royal Dutch Shell A
olie                                478
klimaatzaak                         253
klimaatverandering                  121
uitstoot                            116
klimaat                             113
fossiele                             84
windpark                             70
duurzame                             69
fossiel                              63
duurzaam                             62

In [116]:
#Subset based on sentiment
PosSOC = SOCcount[(SOCcount['Sentiment'] >= 0)]

#Delete Sentiment column
del PosSOC['Sentiment']

#Groupby search query
PosSOC = PosSOC.groupby('zoekopdracht').sum() #Get sum of words used

#Reset index
PosSOC.reset_index(inplace = True)

#Rename column for merge
PosSOC = PosSOC.rename(columns={'zoekopdracht': 'Search Query'})

#Merge and create final dataset
finalPosSOC = pd.merge(Companies2, PosSOC, on = 'Search Query', how = 'inner')

#Delete unnecessary columns
del finalPosSOC['Search Query']

#Select specific company
PosSOCShell = finalPosSOC[(finalPosSOC['Organization/Company'] == 'Royal Dutch Shell A')]

#Delete Industry column
del PosSOCShell['Industry']
del PosSOCShell['Organization/Company']

#Transpose (Switch rows and columns)
PosSOCShell = PosSOCShell.T.rename_axis('Words', axis=1)

#Rename column to company
PosSOCShell.rename(columns={ PosSOCShell.columns[0]: "Royal Dutch Shell A" }, inplace = True)

#Sort values
PosSOCShell.sort_values(by = 'Royal Dutch Shell A', ascending = False, inplace = True)

PosSOCShell.head(10)

Words          Royal Dutch Shell A
corruptie                       30
mensenrechten                   24
respect                          9
gezondheid                       4
cultuur                          4
sociaal                          4
diversiteit                      3
staken                           3
vrijheid                         3
veiligheid                       2

In [115]:
#Subset based on sentiment
PosECO = ECOcount[(ECOcount['Sentiment'] >= 0)]

#Delete Sentiment column
del PosECO['Sentiment']

#Groupby search query
PosECO = PosECO.groupby('zoekopdracht').sum() #Get sum of words used

#Reset index
PosECO.reset_index(inplace = True)

#Rename column for merge
PosECO = PosECO.rename(columns={'zoekopdracht': 'Search Query'})

#Merge and create final dataset
finalPosECO = pd.merge(Companies2, PosECO, on = 'Search Query', how = 'inner')

#Delete unnecessary columns
del finalPosECO['Search Query']

#Select specific company
PosECOShell = finalPosECO[(finalPosECO['Organization/Company'] == 'Royal Dutch Shell A')]

#Delete Industry column
del PosECOShell['Industry']
del PosECOShell['Organization/Company']

#Transpose (Switch rows and columns)
PosECOShell = PosECOShell.T.rename_axis('Words', axis=1)

#Rename column to company
PosECOShell.rename(columns={ PosECOShell.columns[0]: "Royal Dutch Shell A" }, inplace = True)

#Sort values
PosECOShell.sort_values(by = 'Royal Dutch Shell A', ascending = False, inplace = True)

PosECOShell.head(10)

Words        Royal Dutch Shell A
banen                         94
verkopen                      56
belasting                     24
productie                     22
economie                      22
economische                   10
marketing                      8
armoede                        5
innovatie                      5
belastingen                    5

## Sum most frequent words with a negative sentiment per company

In [114]:
#Subset based on sentiment
NegENV = ENVcount[(ENVcount['Sentiment'] < 0)]

#Delete Sentiment column
del NegENV['Sentiment']

#Groupby search query
NegENV = NegENV.groupby('zoekopdracht').sum() #Get sum of words used

#Reset index
NegENV.reset_index(inplace = True)

#Rename column for merge
NegENV = NegENV.rename(columns={'zoekopdracht': 'Search Query'})

#Merge and create final dataset
finalNegENV = pd.merge(Companies2, NegENV, on = 'Search Query', how = 'inner')

#Delete unnecessary columns
del finalNegENV['Search Query']

#Select specific company
NegENVShell = finalNegENV[(finalNegENV['Organization/Company'] == 'Royal Dutch Shell A')]

#Delete Industry column
del NegENVShell['Industry']
del NegENVShell['Organization/Company']

#Transpose (Switch rows and columns)
NegENVShell = NegENVShell.T.rename_axis('Words', axis=1)

#Rename column to company
NegENVShell.rename(columns={ NegENVShell.columns[0]: "Royal Dutch Shell A" }, inplace = True)

#Sort values
NegENVShell.sort_values(by = 'Royal Dutch Shell A', ascending = False, inplace = True)

NegENVShell.head(10)

Words               Royal Dutch Shell A
olievervuiling                      136
olie                                122
fossiele                            116
brandstof                            73
klimaatverandering                   63
klimaatzaak                          62
duurzaamheid                         47
uitstoot                             38
klimaat                              36
fossiel                              29

In [113]:
#Subset based on sentiment
NegSOC = SOCcount[(SOCcount['Sentiment'] < 0)]

#Delete Sentiment column
del NegSOC['Sentiment']

#Groupby search query
NegSOC = NegSOC.groupby('zoekopdracht').sum() #Get sum of words used

#Reset index
NegSOC.reset_index(inplace = True)

#Rename column for merge
NegSOC = NegSOC.rename(columns={'zoekopdracht': 'Search Query'})

#Merge and create final dataset
finalNegSOC = pd.merge(Companies2, NegSOC, on = 'Search Query', how = 'inner')

#Delete unnecessary columns
del finalNegSOC['Search Query']

#Select specific company
NegSOCShell = finalNegSOC[(finalNegSOC['Organization/Company'] == 'Royal Dutch Shell A')]

#Delete Industry column
del NegSOCShell['Industry']
del NegSOCShell['Organization/Company']

#Transpose (Switch rows and columns)
NegSOCShell = NegSOCShell.T.rename_axis('Words', axis=1)

#Rename column to company
NegSOCShell.rename(columns={ NegSOCShell.columns[0]: "Royal Dutch Shell A" }, inplace = True)

#Sort values
NegSOCShell.sort_values(by = 'Royal Dutch Shell A', ascending = False, inplace = True)

NegSOCShell.head(10)

Words            Royal Dutch Shell A
gezondheid                        72
mensenrechten                      9
corruptie                          4
veiligheid                         4
sociaal                            2
racisme                            2
cultuur                            2
asociaal                           1
gezondheidszorg                    1
diversiteit                        1

In [111]:
#Subset based on sentiment
NegECO = ECOcount[(ECOcount['Sentiment'] < 0)]

#Delete Sentiment column
del NegECO['Sentiment']

#Groupby search query
NegECO = NegECO.groupby('zoekopdracht').sum() #Get sum of words used

#Reset index
NegECO.reset_index(inplace = True)

#Rename column for merge
NegECO = NegECO.rename(columns={'zoekopdracht': 'Search Query'})

#Merge and create final dataset
finalNegECO = pd.merge(Companies2, NegECO, on = 'Search Query', how = 'inner')

#Delete unnecessary columns
del finalNegECO['Search Query']

#Select specific company
NegECOShell = finalNegECO[(finalNegECO['Organization/Company'] == 'Royal Dutch Shell A')]

#Delete Industry column
del NegECOShell['Industry']
del NegECOShell['Organization/Company']

#Transpose (Switch rows and columns)
NegECOShell = NegECOShell.T.rename_axis('Words', axis=1)

#Rename column to company
NegECOShell.rename(columns={ NegECOShell.columns[0]: "Royal Dutch Shell A" }, inplace = True)

#Sort values
NegECOShell.sort_values(by = 'Royal Dutch Shell A', ascending = False, inplace = True)

NegECOShell.head(10)

Words        Royal Dutch Shell A
verkopen                      16
belasting                     13
banen                          8
economie                       6
financieel                     6
business                       5
economische                    5
belastingen                    4
productie                      4
innovatie                      3